# data storage (data are not uploaded due to size limit. There are zip files in the gdrive.)
data-storage/50-shot-dataset
data-storage/bike-video
data-storage/tool-video
data-storage/videos
data-storage/data
data-storage/full_dataset
data-storage/50-shot-dataset.zip
data-storage/annotations.zip
data-storage/annotations/**
data-storage/data.zip
data-storage/TODO.txt
data-storage/demo_dataset
data-storage/.env

# misc. training data that are either 1) bad or 2) useless
yolov7/coco/
wandb/
.ipynb_checkpoints/
runs/*/exp*
runs/*/test*
test_images/*
